### 0. Print the phrase "HELLO ANDY".

> Indented block

In [0]:
print("HELLO ANDY")

HELLO BRANDON

### 1. Create a list containing the numbers: 1, 5, 6, 7, 12, 3, 234, 0,2
> 1.1 Use a for loop to print all of the numbers. <br>
> 1.2 Use a while loop to print all of the numbers. <br>
> 1.3 Find the minimum and maximum value programatically. <br>
> 1.4 Multiply each index by 10

In [0]:
numbers = [1, 5, 6, 7, 12, 3, 234, 0, 2]
i = 0
for number in numbers:
  numbers[i] = number * 10
  i += 1
  
for number in numbers:
  print(number)

i = 0
while i < len(numbers):
  print(numbers[i])
  i += 1

min_value = min(numbers)
print(min_value)
max_value = max(numbers)
print(max_value)

10
50
60
70
120
30
2340
0
20
10
50
60
70
120
30
2340
0
20
0
2340

### 2. Create a dictionary containing the following key, value pairs: <br> <'fred': 1>,  <"jeff":15>, <"ken":12>, <"sam":23>, <"gwen":21>, <"tori":20><br>
(The keys are the person's name, and the value is their age)
> 1.1 Print all of the people and their age. <br>
> 1.2 Find the youngest and oldest person programatically. <br>
> 1.3 Find all of the people that are older than 18

In [0]:
ages = {'fred': 1, 'jeff': 15, 'ken': 12, 'sam': 23, 'gwen': 21, 'tori': 20}
max_value = 0
min_value = 100
for key, value in ages.items():
  print(key, "is", value, "years old")
  if value > max_value:
    max_value = value
    max_key = key
  if value < min_value:
    min_value = value
    min_key = key
  if value > 18:
    print(key, "is over 18 years old")
print("The youngest person is", min_key)
print("The oldest person is", max_key)

fred is 1 years old
jeff is 15 years old
ken is 12 years old
sam is 23 years old
sam is over 18 years old
gwen is 21 years old
gwen is over 18 years old
tori is 20 years old
tori is over 18 years old
The youngest person is fred
The oldest person is sam

In [0]:
import random
big_list = []
list1 = [random.randint(1,9), random.randint(1,9), random.randint(1,9)]
list2 = [random.randint(1,9), random.randint(1,9), random.randint(1,9)]
list3 = [random.randint(1,9), random.randint(1,9), random.randint(1,9)]
i = 0
for number in list1:
  list1[i] = number ** 2
  list1[i] = str(list1[i])
  i += 1
i = 0
for number in list2:
  list2[i] = number ** 2
  list2[i] = str(list2[i])
  i += 1
i = 0
for number in list3:
  list3[i] = number ** 2
  list3[i] = str(list3[i])
  i += 1
big_list.append(list1)
big_list.append(list2)
big_list.append(list3)
print(' '.join(list1))
print(' '.join(list2))
print(' '.join(list3))
big_list2 = []
for number in list1:
  big_list2.append(number)
for number in list2:
  big_list2.append(number)
for number in list3:
  big_list2.append(number)
max_value = max(big_list2)
print(max_value)

9 4 16
49 1 81
4 1 9
9

### 3. Create a 3x3 2D array of numbers between 1-9  (Selected at random).
> 3.1 print all the numbers in this array.
> 3.2 calculate the max value of this array.
> 3.3 Square the values of all the indices

### BONUS: Use RECURSION to calculate the sum the list in problem 1.

In [0]:
def sum(l):
  if len(l) == 1:
    return l[0]
  else:
    return l[0] + sum(l[1:])